@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-poppins overflow-x-hidden
    }
    /* container */
    .container {
        @apply max-w-[1600px] w-full px-4 mx-auto;
    }
    /* banner */
    .banner {
        @apply pt-36 bg-secondary/30 pb-10
        /* desktop */
        lg:pb-0;
    }
    .banner__wrapper {
        @apply flex flex-col-reverse gap-5 items-center
        justify-center

        /* desktop */
        lg:flex-row lg:max-w-[60rem] lg:mx-auto;
    }
    .banner__text span {
        @apply font-extrabold;
    }
    .banner__text h1{
        @apply text-5xl font-semibold mb-10;
    }
    /* welcome */
    .welcome {
        @apply py-10
    }
    .welcome__wrapper {
        @apply flex flex-col items-center justify-center
        /* desktop */
        lg:flex-row lg:gap-32 lg:max-w-[60rem] lg:mx-auto
    }
    .welcome__img img{
        @apply w-72 border-8 border-black rounded-3xl relative
        /* desktop */
        lg:w-full
    }

    .welcome__img img:last-child{
        @apply relative bottom-12 left-12
    }

    .welcome__text h2{
        @apply text-3xl font-bold 
    }

    .welcome__text h4{
        @apply text-primary font-semibold my-5
    }

    /* what we offer */
    .offer {
        @apply py-10 bg-tertiary text-white
    }
    .offer h2{
        @apply text-3xl font-bold text-center
    }
    .offer__tab{
        @apply flex justify-center gap-4 py-10
    }
    .offer__tab img{
        @apply w-20 cursor-pointer;
    }

    .offer__tab img.active{
        @apply border-2 p-1 border-secondary rounded-full
    }
    .offer__foods {
        @apply flex flex-col gap-4 justify-center items-center
        text-center py-10 border border-white rounded-xl
    }
    .offer__foods img{
        @apply w-32;
    }
    .offer__details--wrap{
        @apply grid grid-cols-2 gap-3
    }

    .offer__details{
        @apply hidden
        /* desktop */
        lg:max-w-[60rem] lg:mx-auto;
    }

    .offer__details.active{
        @apply block;
    } 



    /* ABOUT */
    .aboutVid{
        @apply pt-40 items-center pb-10
    }

    .aboutVid__wrapper{
        @apply justify-center items-center flex flex-col
        lg:flex-row lg:gap-10 lg:items-center
    }

    .aboutVid__wrapper iframe{
        @apply w-[24rem] h-[20rem]
        lg:w-[80rem] lg:h-[30rem] 
    }

    .aboutVid__text{
        @apply py-12
        lg:w-[65rem] lg:py-40
    }

    .aboutVid__text h2{
        @apply font-bold text-5xl text-primary
    }

    .aboutVid__text p{
        @apply py-5
    }





    /* slider */
    .aboutSlider{
        @apply py-14
        lg:py-10
    }

    .aboutSlider__title h2{
        @apply text-center text-3xl font-bold 
    }

    .aboutSlider__card{
        @apply flex flex-col justify-center text-center;
    }

    .tns-outer {
        @apply overflow-hidden max-w-[40rem] mx-auto
    }

    .aboutSlider__card img{
        @apply w-24 rounded-full mx-auto py-5
    }

    .aboutSlider__card p{
        @apply py-5
    }

    .aboutSlider__card h4{
        @apply 
        lg:w-[30rem] lg:mx-auto
    }


    /* our story */
    .story{
        @apply py-10
    }
    .story__wrapper{
        @apply flex justify-around
        lg:flex lg:flex-row lg:items-center lg:py-5
    }
    .story h3{
        @apply font-bold text-center text-4xl mb-5
    }
    .story__content{
        @apply text-justify;
    }
    .story__item{
        @apply mb-5 max-w-[35rem] mx-auto
    }
    .story__item h4, 
    .story__item i{
        @apply bg-primary text-white px-3 py-2 font-bold
        flex justify-between items-center cursor-pointer duration-700
    }
    .story__item i.open{
        @apply rotate-180 duration-700
    }

    .story__item p{
        @apply bg-slate-50 h-auto max-h-0 overflow-hidden duration-300
    }
    .story__item p.open{
        @apply max-h-[50rem] bg-slate-50 p-3 duration-300
    }
    .story__img img{
        @apply hidden 
        lg:rounded-sm lg:block
    }

    /* MENU */
    .menuBanner {
        @apply bg-left bg-cover bg-no-repeat
    }
    .menuBanner__text h2{
        @apply flex  items-center text-3xl
         text-white font-bold h-screen w-[16rem] mx-auto
         lg:text-5xl lg:w-[40rem] lg:mx-auto lg:text-center
    }


    /* MENU TAB */
    .menuFood{
        @apply py-10 bg-tertiary text-white
    }
    .menuFood__wrapper{
        @apply max-w-[50rem] mx-auto
    }
    .menuFood__content{
        @apply lg:pt-14
    }
    .menuFood__tab ul{
        @apply flex justify-center py-5 bg-secondary rounded-3xl
    }
    .menuFood__tab li{
        @apply text-tertiary font-bold cursor-pointer
        /* lg:text */
    }
    
    .menuFood__food{
        @apply flex flex-col gap-4 justify-center items-center
        text-center py-10 border-transparent
        lg:py-10 border lg:border-white lg:rounded-lg
    }
    .menuFood__food img{
        @apply h-auto w-[8rem]
    }
    .menuFood__details--wrap{
        @apply grid grid-cols-3 gap-3
    }
    .menuFood__details{
        @apply absolute opacity-0 
    }
    .menuFood__details.active{
        @apply static duration-500 opacity-100 ease-linear delay-200
    }
    .menuFood__tab-btn{
        @apply border-r-white border border-transparent px-3
        lg:px-12
    }
    .menuFood__tab-btn:last-child{
        @apply border-r-transparent
    }

    .menuFood__tab-btn.active{
        @apply text-primary
    }


    /* CONTACT */
    .contactMap{
        @apply pt-40 pb-16
        lg:pb-10
    }
    .contactMap__wrapper{
        @apply mx-auto justify-center flex
    }
    .contactMap__wrapper iframe{
        @apply h-[35rem] 
        lg:w-[76rem] lg:h-[36rem]
    }

    .contact{
        @apply bg-secondary py-20
    }

    .contact h2{
        @apply font-bold text-5xl text-center
    }
    .contact__wrapper{
        @apply lg:max-w-[40rem] lg:mx-auto
    }

    .fullname{
        @apply flex flex-row gap-4 w-auto 
    }
    .contact__input {
        @apply pt-10 flex flex-col gap-4
    }
    .contact__input input{
        @apply h-[3rem] border-transparent outline-none w-full px-4 rounded-lg
    }

    .contact__input input:active{
        @apply text-gray-50
    }
    .contact__input textarea{
        @apply h-[10rem] border-transparent outline-none w-full p-4 rounded-lg max-h-[14rem]
    }

    .contact__btn{
        @apply justify-center flex pt-4
    }

}

@layer components {
    /* header */

    .header {
        @apply fixed py-6 w-full z-50 bg-white shadow-[0_8px_24px_-15px_rgba(149,157,165,0.2)];
    }

    .header__wrapper {
        @apply flex justify-between items-center;
    }

    .header__wrapper img {
        @apply w-[8rem];
    }

    .header__nav{
        @apply bg-secondary flex flex-col gap-5 fixed
            text-center w-80 py-5 top-[6.8rem]  
            font-semibold duration-700 right-[-100%] h-screen
        
        /* desktop */
        lg:flex-row lg:h-auto lg:static lg:bg-transparent lg:w-auto
    }

    .header__nav.open {
        @apply right-0 duration-700 z-50;
    }

    .header__nav li a{
        @apply text-black/80 hover:text-primary;
    }

    .toggle__menu {
        @apply flex flex-col gap-1 z-50 cursor-pointer
        /* desktop */
        lg:hidden
    }

    .toggle__menu span{
        @apply content-[*] bg-primary w-10 h-1 rounded-lg
        ease-out duration-700;
    }

    .toggle__menu span:last-child{
        @apply w-7;
    }

    .toggle__menu.open span{
        @apply w-7 ease-in-out duration-700;
    }

    .toggle__menu.open span:last-child {
        @apply w-10 ease-in-out duration-700;
    }

    /* backdrop */
    .backdrop {
        @apply  hidden ease-in-out duration-700;
    }
    .backdrop.open {
        @apply  block fixed top-[6.8rem] left-0
        h-screen w-full backdrop-blur-sm ease-in-out duration-700 overflow-y-hidden

        lg:hidden;
    }

    /* announcement */
    .announce {
        @apply fixed w-full z-10 bg-white/85 pt-28 pb-1 text-center
        font-semibold text-primary leading-3
    }

    /* connects */
    .connect {
        @apply bg-primary text-white py-10
        /* desktop */
        lg:pt-5 lg:pb-0
    }
    .connect__wrapper{
        @apply flex flex-col items-center
        justify-center text-center
        /* desktop */
        lg:flex-row lg:gap-4
    }
    .connect img{
        @apply hidden
        /* desktop */
        lg:block lg:w-[25rem]
    }
    .connect__details h3{
        @apply font-bold text-2xl;
    }
    .connect__input{
        @apply bg-white p-3;
    }
    .connect__input input{
        @apply px-3 py-2 focus:text-black focus:outline-none
    }


    /* footer */
    .footer{
        @apply py-7;
    }
    .footer img{
        @apply mb-6;
    }
    .footer__wrapper{
        @apply flex flex-col justify-center 
        items-center text-center
        /* desktop */
        lg:gap-4
    }
    .footer__details{
        @apply flex flex-col gap-5 mb-5
        /* desktop */
        lg:flex-row lg:gap-20
    }
    .footer__details h3{
        @apply font-bold text-xl;
    }

    /* buttons */
    .btn {
        @apply py-2 px-4 bg-transparent border-transparent border
        rounded-xl;
    }

    .btn.bg--primary {
        @apply bg-primary border border-primary text-white
        hover:bg-transparent hover:text-primary hover:border-primary duration-200;    
    }

    .btn.readmore {
        @apply border border-primary hover:bg-primary duration-300
    }

    .btn.bg--secondary {
        @apply bg-secondary text-black hover:border
        hover:border-secondary hover:bg-transparent
    }
    .btn.bg--contact {
        @apply bg-primary text-white hover:border font-medium
        hover:border-secondary hover:bg-white hover:text-primary
    }

    #active{
        @apply text-primary
    }
}